.card {
    width: 25%;
    img {
        width: calc(100% + 32px);
        margin: 0 -16px 16px -16px;
    }
    .user-details {
        .inner-det {
            display: grid;
            color: #565656;
            font-size: 14px;
            line-height: 24px;
            font-weight: 600;
            span {
                color: #3f51b5;
                margin-right: 5px;
            }
        }
    }
}
