<div class="nav-wrp">
    <div (click)="goBack()" class="back-btn">Back to Home</div>
</div>
<mat-card class="card">
    <div class="user-details">
        <div><img [src]="user.picture.large" alt="user img" /></div>
        <div class="inner-det">
            <div><span>Name:</span> {{user.name.title}} {{user.name.first}} {{user.name.last}}</div>
            <div><span>EmailId:</span> {{user.email}}</div>
            <div><span>Username:</span> {{user.username}}</div>
            <div><span>Gender:</span> {{user.gender}}</div>
            <div><span>Location:</span> {{user.location.street}}</div>
            <div><span>City:</span> {{user.location.city}}</div>
            <div><span>State:</span> {{user.location.state}}</div>
            <div><span>Zip:</span> {{user.location.zip}}</div>
            <div><span>Salt:</span> {{user.salt}}</div>
            <div><span>Phone Number:</span> {{user.phone}}</div>
            <div><span>Cell:</span> {{user.cell}}</div>
            <div><span>HETU:</span> {{user.HETU}}</div>
        </div>
    
    </div>
  </mat-card>
