<div class="login-wrapper">
  <form class="user-form" [formGroup]="loginForm" (ngSubmit)="login()" >
    <mat-form-field class="full-width">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="User Name" formControlName="userName">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>
    <div class="button-row">
      <button mat-button color="primary" type="submit">Login</button>
    </div>
  </form>
</div>
